@{
    ViewBag.Title = "About RMS";
}

<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Content/img/MDT.jpg" alt="Police Mobile Data Terminal">
            <div class="position-absolute top-0 start-0 w-50 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">About RMS</h5>
                            <h1 class="display-3 text-white animated slideInDown">Designed for Police Administration by a former Sergeant</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Having lived the difficulties of trying to find information, whether it was looking through an office for an old piece of paper or fishing through file folders on a computer, alot of lost time and frustration was experienced. his is the system I would have loved to have at my fingertips to make my job easier. </p>
                            <p></p>
                            <p class="fs-5 text-white mb-4 pb-2">Aimed at smaller departments without the financial means to provide a quality system for themselves. This system, is scalable to continually grow with your needs. Fully customizable it can also be designed for each department's unique needs and concers. </p>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>